<ion-header>
  <ion-toolbar class="ios hydrated"> 
  </ion-toolbar>
</ion-header> 
<ion-content> 
    <ion-card>
      <ion-card-header>
        <ion-card-title>
            Objetivo de ventas por empleado
        </ion-card-title> 
      </ion-card-header>
      <ion-card-content>
        <canvas baseChart
                    [datasets]="chartData" 
                    [labels]="chartLabels" 
                    [options]="chartOptions" 
                    [colors]="chartColors"
                    [legend]="showLegend" 
                    [chartType]="chartType" height="400px"></canvas>
        </ion-card-content>
            </ion-card>  
</ion-content>